<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
   <h1>Home</h1>
   <h2 color="red">My Journey to Nodejs Empire!</h2> 

   <%- include('./partials/nav.ejs') %>

   <div class="not-found content">
       Oops! page not found :)
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>